; This is built for Dearest so she can be happy with an easy way
; to update the game config without breaking code....

[Game]

starting_treasure = 100

[Adventurers]

hire_cost = 10
min_base_hp = 8
max_base_hp = 14
min_base_attack = 2
max_base_attack = 5

[Dungeon]

gold_per_floor = 20

[Shop]

design_stock_size = 3
design_refresh_cost = 50

; What each design costs to unlock in the shop.
; Make sure the Item ID matches the id in the .tres file for each item

[Prices]

body_dps_punk = 15
body_healer_goth = 15
body_tank_suit = 15
head_dps_punk = 15
head_healer_goth = 15
head_tank_suit = 15
legs_dps_punk = 15
legs_healer_goth = 15
legs_tank_suit = 15
feet_dps_punk = 15
feet_healer_goth = 15
feet_tank_suit = 15

body_dps_cowboy = 15
head_dps_cowboy = 15
legs_dps_cowboy = 15
feet_dps_cowboy = 15

body_dps_prep = 15
head_dps_prep = 15
legs_dps_prep = 15
feet_dps_prep = 15

body_dps_ld = 15
head_dps_ld = 15
legs_dps_ld = 15
feet_dps_ld = 15

body_healer_eg = 15
head_healer_eg = 15
legs_healer_eg = 15
feet_healer_eg = 15

body_healer_pjs = 15
head_healer_pjs = 15
legs_healer_pjs = 15
feet_healer_pjs = 15

body_tank_knight = 15
head_tank_knight = 15
legs_tank_knight = 15
feet_tank_knight = 15

body_tank_sm = 15
head_tank_sm = 15
legs_tank_sm = 15
feet_tank_sm = 15

; Enemy stats
; same thing applies here for the Matching the .trest file

[Enemies]

BabyCrab_HP = 6
BabyCrab_Attack = 1
BabyCrab_Gold = 5

BabyEyebolls_HP = 9
BabyEyebolls_Attack = 4
BabyEyebolls_Gold = 8

BabyGnoll_HP = 7
BabyGnoll_Attack = 2
BabyGnoll_Gold = 6

BabySkeles_HP = 13
BabySkeles_Attack = 8
BabySkeles_Gold = 12

BabySlime_HP = 11
BabySlime_Attack = 6
BabySlime_Gold = 10

BabySnek_HP = 22
BabySnek_Attack = 7
BabySnek_Gold = 11

BananaCrab_HP = 10
BananaCrab_Attack = 1
BananaCrab_Gold = 10

Eyeboll_HP = 16
Eyeboll_Attack = 4
Eyeboll_Gold = 13

FourGoblins_HP = 14
FourGoblins_Attack = 3
FourGoblins_Gold = 12

Gnoll_HP = 12
Gnoll_Attack = 2
Gnoll_Gold = 11

HungrySlime_HP = 26
HungrySlime_Attack = 9
HungrySlime_Gold = 18

Nukelavee_HP = 55
Nukelavee_Attack = 10
Nukelavee_Gold = 20

RockBabies_HP = 10
RockBabies_Attack = 5
RockBabies_Gold = 9

Skeles_HP = 24
Skeles_Attack = 8
Skeles_Gold = 17

Slime_HP = 6
Slime_Attack = 1
Slime_Gold = 5

SlimeCreature_HP = 20
SlimeCreature_Attack = 6
SlimeCreature_Gold = 15

SmallSlimes_HP = 14
SmallSlimes_Attack = 9
SmallSlimes_Gold = 13

Snek_HP = 22
Snek_Attack = 7
Snek_Gold = 16

ThreeGoblin_HP = 8
ThreeGoblin_Attack = 3
ThreeGoblin_Gold = 7
